*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

}

body{
    background-color: #0171F9;
}


nav ul{
    display: flex;
    
    
}
.container{
    display: flex;
    /* background-color: blueviolet; */
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px;
    align-items: center;

}
li a{
    color: aliceblue;
    padding: 30px;
    
}
a :hover{
    background-color: #EE626B;
    color: #fff
    

}


button{
    background-color: #EE626B;
    color: #fff;
    border-radius: 2rem;
    border: none;
    width: 100px;
    height: 40px;
}
.left{
    color: #fff;
    margin: 130px;
}
h1{
    padding: 20px 0px 40px 0px;
    font-size: 50px;
   
}
p{
    width: 60%;
    
}
input{
    color: black;
    
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 2rem;
    margin: 70px 0px;
}

  .search{
    background-color: #EE626B;
    position: absolute;
    
    
   
   
    
  }   


.anadiv{
    display: flex;
    
}

   
.right img{
    width: 400px;
    height: 500px;
   padding: 50px 100px;
    border-radius: 1rem;
    object-fit: cover;
}
form {
    position: relative;
    width: 10rem;
}
    



  

   





    



